.app {
  font-family: sans-serif;
  padding: 20px;
  overflow-y: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.column-input {
  display: flex;
  gap: 10px;
}

.column-input input {
  padding: 5px 10px;
  font-size: 16px;
}

.board {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}

.add-column-section {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.add-column-section input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.ReactVirtualized__Grid__innerScrollContainer {
  overflow-y: hidden !important;
}
